DataVisualization/BeginningDataVisualizationWithR/.Rhistory
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/40EB9159/rmd-outputs
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/40EB9159/saved_source_markers
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/40EB9159/pcs/files-pane.pper
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/40EB9159/pcs/packages-pane.pper
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/40EB9159/pcs/source-pane.pper
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/40EB9159/pcs/windowlayoutstate.pper
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/40EB9159/pcs/workbench-pane.pper
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/40EB9159/sources/prop/1F206EEC
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/40EB9159/sources/prop/84A9C9C9
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/40EB9159/sources/prop/INDEX
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/shared/notebooks/patch-chunk-names
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/shared/notebooks/paths
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/shared/notebooks/C903FFBD-01-Base/1/s/chunks.json
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/shared/notebooks/C903FFBD-01-Base/1/s/cjsmfzs0j6ml1/000004.csv
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/shared/notebooks/C903FFBD-01-Base/1/s/cjsmfzs0j6ml1/000005.metadata
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/shared/notebooks/C903FFBD-01-Base/1/s/cjsmfzs0j6ml1/000005.rdf
DataVisualization/BeginningDataVisualizationWithR/.Rproj.user/shared/notebooks/C903FFBD-01-Base/1/s/czwgw56zbgiih/000002.csv
Statistics/Python/.idea/workspace.xml
Statistics/Python/.idea/shelf/Uncommitted_changes_before_Update_at_9_28_20__10_05_PM__Default_Changelist_.xml
Statistics/Python/.idea/shelf/Uncommitted_changes_before_Update_at_9_28_20,_10_05_PM_[Default_Changelist]/shelved.patch
Statistics/R/.Rproj.user/40EB9159/sources/prop/6F48789D
Statistics/Python/.idea/shelf/Uncommitted_changes_before_Update_at_9_28_20,_10_05_PM_[Default_Changelist]/shelved.patch
